/* body {
    background-color: #363841;
} */

#title {
    color: #ff0bb6;
    letter-spacing: 2px;
    font-size: 1.6rem;
}

.rc_nav {
    overflow: hidden;
    background-color: #ffffff;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 6;
}

.nav_link {
    letter-spacing: 1px;
    margin: 0 5px;
    display: inline-block;
    color: rgb(51, 51, 51);
    padding: 10px 22px;
    text-decoration: none;
    font-size: 18px;
    -webkit-transition: background 0.3s linear;
    -moz-transition: background 0.3s linear;
    -ms-transition: background 0.3s linear;
    -o-transition: background 0.3s linear;
    transition: background 0.3s linear;
    z-index: 9;
    text-transform: uppercase;
}

.nav_link:hover {
    transition: 0.7;
}

@media screen and (max-width: 600px) {
    .nav_link {
        padding: 7px 10px;
        font-size: 0.7rem;
    }

    #title {
        font-size: 1.5rem;
    }

}

.active_class {
    background-color: #F3F1F5;
    color: #A4AFCD;
    border-radius: 10px 10px 0 0;
}

#webpage {
    background-color: #F3F1F5;
    height: 100vh;
    width: 100vw;
}

#webpage_body {
    margin: auto;
    width: 75%;
}

.error_page {
    padding-top: 10rem;
}

.home_container {
    padding-top: 8rem;
}

/* Social Media */
.icon-bar {
    position: fixed;
    top: 60%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: #000;
    font-size: 20px;
}

.icon-bar a:hover {
    color: #ff0bb6;
}

