/* body {
    background-color: #363841;
} */

#title {
    color: #F8485E;
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.rc_nav {
    overflow: hidden;
    background-color: #ffffff;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 6;
}

.nav_link {
    margin: 0 5px;
    display: inline-block;
    color: rgb(36, 35, 35);
    padding: 10px 22px;
    text-decoration: none;
    font-size: 18px;
    -webkit-transition: background 0.3s linear;
    -moz-transition: background 0.3s linear;
    -ms-transition: background 0.3s linear;
    -o-transition: background 0.3s linear;
    transition: background 0.3s linear;
    z-index: 9;
    text-transform: uppercase;
}

.nav_link:hover {
    transition: 0.7;
}

.active_class {
    background-color: #F3F1F5;
    color: #2d5cdf;
    border-radius: 10px 10px 0 0;
}
@media screen and (max-width: 600px) {
    .nav_link {
        padding: 5px 10px;
        font-size: 0.7rem;
    }

    #title {
        font-size: 1.5rem;
    }
    .active_class {
        border-radius: 5px 5px 0 0;
    }

}



#webpage {
    background-color: #F3F1F5;
    height: 100vh;
    width: 100vw;
}

.error_page {
    padding-top: 10rem;
}