/* body {
    background-color: #363841;
} */

#title {
    color: #64FFDA;
    font-size: 1.6rem;
}

.rc_nav {
    overflow: hidden;
    background-color: #363841;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 6;
}

.nav-link {
    margin: 0 5px;
    display: inline-block;
    color: #fff;
    padding: 10px 22px;
    text-decoration: none;
    font-size: 18px;
    -webkit-transition: background 0.3s linear;
    -moz-transition: background 0.3s linear;
    -ms-transition: background 0.3s linear;
    -o-transition: background 0.3s linear;
    transition: background 0.3s linear;
    z-index: 9;
    text-transform: uppercase;
}

.nav-link:hover {
    transition: 0.7;
}

@media screen and (max-width: 600px) {
    .nav-link {
        padding: 10px 10px;
        font-size: 1rem;
    }
    #title {
        color: #64FFDA;
        font-size: 1.5rem;
    }

}

.active_class {
    background-color: #64FFDA;
    color: #363841;
    border-radius: 10px 10px 0 0;
}

#webpage{
    background-color: #64FFDA;
    height: 100vh;
    width: 100vw;
}