body {
    margin: 0;
    background-color: #292b31;
}


.rc_nav {
    overflow: hidden;
    background-color: #363841;
    text-align: center;
    z-index: 6;
}

.rc_nav a {
    display: inline-block;
    margin-right: -4px;
    color: #fff;
    padding: 22px 22px;
    text-decoration: none;
    font-family: Poppins;
    font-size: 18px;
    -webkit-transition: background 0.3s linear;
    -moz-transition: background 0.3s linear;
    -ms-transition: background 0.3s linear;
    -o-transition: background 0.3s linear;
    transition: background 0.3s linear;
    z-index: 9;
}

.rc_nav a:hover {
    background-color: #575b69;
}

.rc_nav .icon {
    display: none;
}

.rc_content {
    text-align: center;
    padding-left: 14px;
    font-family: Poppins;
    margin-top: 100px;
    color: #8e909b;
}

@media screen and (max-width: 600px) {
    .rc_nav a {
        padding: 22px 22px;
    }

}